<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Passionate and experienced software products executive, specializing in the mobility and automotive segments. 
          Proven track record of building robust teams with diverse skill sets and successfully delivering innovative products and services.
          Deeply familiar with product, architecture, and business and ecosystem development.  
          Experience in improving internal processes to boost productivity, negotiating contracts with technology providers and customers. 
          Embody a “roll-up one’s sleeves” mentality; do anything and everything to push a product out the door.
</p>
      </div>
      <div class="col-lg-4">
        <p>Ready to tackle new challenges and continue to bring compelling automotive experiences to market. </p>
      </div>
    </div>
  </div>
</section>
