<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Meine Leistungen</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h3>Mathematik</h3>
        <ul>
          <li>Nachhilfe bis Abitur</li>
          <li>Grundlagen & Aufbauwissen</li>
          <li>Prüfungsvorbereitung</li>
          <li>Schritt-für-Schritt Erklärungen</li>
          <li>Hausaufgabenhilfe</li>
        </ul>
      </div>

      <div class="col-lg-4">
        <h3>Elektrotechnik</h3>
        <ul>
          <li>Berufsschule & Ausbildung</li>
          <li>Grundlagen der Elektrotechnik</li>
          <li>Schaltungsanalyse</li>
          <li>Messtechnik</li>
          <li>Prüfungsvorbereitung</li>
        </ul>
      </div>
    </div>
  </div>
</section>
