<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Meine Leistungen</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>Ich biete professionelle Nachhilfe in Mathe und Elektrotechnik für Schüler und Berufsschüler.</p>

        <ul>
          <li>Mathe Nachhilfe bis Abitur</li>
          <li>Elektrotechnik Nachhilfe bis Berufsschule</li>
          <li>Prüfungsvorbereitung</li>
          <li>Schritt-für-Schritt Musterlösungen</li>
          <li>Online-Unterricht oder persönlich</li>
        </ul>
      </div>
    </div>
  </div>
</section>
